{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "plugin:react-hooks/recommended"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "import/prefer-default-export": "off",
        "no-underscore-dangle": "off",
        "@typescript-eslint/no-throw-literal": "off",
        "import/extensions": [
            "off",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    }
}
